@media (min-width: 640px) {

.PanelDocumentos .StyleSvgEnlaces{
    all: initial;
    position: fixed;
    top:11.5%;
    width: 100%;
    left:0%;
    z-index:11;
    -webkit-transition: top 0.5s; /* Safari */
    transition: top 0.5s;
    opacity:1;
}


.PanelDocumentos .StyleEnlaces {
    all: inherit;
    overflow: hidden;
    display: block;
    position: fixed;
    height:3%;
    width: 5%;
    left: 47%;
    top:13%;
    z-index:13;
    background: #e9ebee;
    color:#e9ebee;
     -webkit-transition: height 1s; /* Safari */
    transition: height 1s;
    opacity: 0;

}
.PanelDocumentos .StyleEnlaces .StyleTags{
    all:inherit;
}
.PanelDocumentos .StyleEnlaces .StyleAutores{
    all:inherit;
}
.PanelDocumentos .StyleEnlaces .StyleTitulos{
    all:inherit;
}

.PanelDocumentos .StyleEnlaces:hover{
    all: inherit;
    position: fixed;
    top:11.5%;
    width:100%;
    left:0%;
    height:30%;
    -webkit-transition: height 0.5s; /* Safari */
    transition: height 0.5s;
    z-index:18;
    background: #e9ebee;
    overflow-y: scroll;
    
}

}

@media only screen and (max-width: 500px) {

.PanelDocumentos .StyleSvgEnlaces{
    all: initial;
    position: fixed;
    top:11.5%;
    width: 100%;
    left:0%;
    z-index:11;
    -webkit-transition: top 0.5s; /* Safari */
    transition: top 0.5s;
    opacity:1;

}

.PanelDocumentos .StyleEnlaces {
    all: inherit;
    overflow: hidden;
    display: block;
    position: fixed;
    height:3%;
    width: 5%;
    left: 47%;
    top:13%;
    z-index:13;
    background: #e9ebee;
    color:#e9ebee;
     -webkit-transition: height 1s; /* Safari */
    transition: height 1s;
    opacity: 0;

}

.PanelDocumentos .StyleEnlaces:hover{
    all: inherit;
    position: fixed;
    top:11.5%;
    width:100%;
    left:0%;
    height:50%;
    -webkit-transition: height 0.5s; /* Safari */
    transition: height 0.5s;
    z-index:18;
    background: #e9ebee;
    overflow-y: scroll;
    
}
}

@media (min-width: 1300px) {

.PanelDocumentos .StyleSvgEnlaces{
    all: initial;
    position: fixed;
    top:11.5%;
    width: 100%;
    left:0%;
    z-index:11;
    -webkit-transition: top 0.5s; /* Safari */
    transition: top 0.5s;
    opacity:1;
}

.PanelDocumentos .StyleEnlaces {
    all: inherit;
    overflow: hidden;
    display: block;
    position: fixed;
    height:3%;
    width: 5%;
    left: 47%;
    top:13%;
    z-index:13;
    background: #e9ebee;
    color:#e9ebee;
     -webkit-transition: height 1s; /* Safari */
    transition: height 1s;
    opacity: 0;

}

.PanelDocumentos .StyleEnlaces:hover{
    all: inherit;
    position: fixed;
    top:11.5%;
    width:100%;
    left:0%;
    height:50%;
    -webkit-transition: height 0.5s; /* Safari */
    transition: height 0.5s;
    z-index:18;
    background: #e9ebee;
    overflow-y: scroll;  
}
}