.StyleBuscador {
    all:inherit;
    width: 100%;
      z-index: 20;

}
.StyleResultado {
    all:inherit;
    /*display: none;*/
    z-index: 20;
    position: fixed;
    width: 25%;
    top: 10%;
    background:white;
}